node_modules
dist
coverage
**/reports/
storybook-static
playwright-report
test-results
**/stryker-tmp/
.DS_Store
*.log
debug-storybook.log
.env
.env.local
.turbo
docs/api
**/.docusaurus
**/.cache-loader
apps/docs/build
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.tsbuildinfo
