node_modules
dist
coverage
storybook-static
playwright-report
test-results
.DS_Store
*.log
debug-storybook.log
.env
.env.local
.turbo
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.tsbuildinfo
